

.m-index{
    width:100%;  
    .l-container{
        @include flexbox();
        width: 100%;       
        .m-home{
            @include flexbox();
            @include flex-direction(column);
            height: 100%;
           #member-swiper{
               @include flex(1);
               width: 100%;
            
            .zhuce-header{
                    background:#00a0e8; 
                    @include flexbox();
                    height: .44rem;
                    width: 100%;
                    color:white;
                    i{
                        font-size: 30px;
                        width:0.5rem;
                        text-align: center;
                        font-weight:bold;
                     }
                    b{
                         font-size: 20px;
                        @include flex(1);
                        height: 100%;
                        text-align: center;
                        line-height: .44rem;
                    }
                }
                .zhuce-section{
                    height: 100%;
                    width:100%;
                    // background: yellowgreen;
                    ul{ 
                       border:none;
                       @include box-sizing(border-box);
                       
                        li{
                            padding-left:.1rem;
                            @include flexbox();
                            @include align-items(center);
                            height: 1rem;
                            width: 100%;
                            font-size:0.2rem;
                            text-align: center;
                            line-height: 1rem;
                            @include border(0 0 1px 0,gray,solid);
                           
                            //@include border(0 0 1px 0,gray,solid);
                            input{
                                margin-left: .1rem;
                                display: block;
                                height: .3rem;
                                
                                @include flex(1);
                                border:none;
                
                            } 
                             i{
                                height: 100%;
                                width: .5rem;
                                font-size: 30px;
                                font-weight:bold;
                                text-align: center;
                            }   
                        }
                    }
                }
        

           .memery{
               @include flexbox();
               width:100% ;
               height:.44rem;
              // background:#00a0e8; 
               font-size:.22rem;
               text-align: center;
               line-height: .44rem;
               font-weight:bold;
               font-family: "微软雅黑";
               color: white;
               i{
                   height: 100%;
                 width: .6rem;
                   
               }
               span{
                   @include flex(1);
                   width: 100%;
               }
                b{
                    font-weight:normal;
                    font-size: 0.18rem;
                    height: 100%;
                    width: .6rem;  
                }
            }
            .memery-section{
                @include flex(1);
                width:100%;
                font-size:.2rem;
                
                .user{
                    padding-left:.1rem;
                    @include border(0 0 1px 0,black);
                    p{
                        height: 0.7rem;
                        width: 100%;
                        line-height: 0.7rem;
                        input{
                            border:none;
                         
                        }
                    }
                } 
                .key{
                    padding-left:.1rem;
                    @include border(0 0 1px 0,black);
                    p{
                        height: 0.8rem;
                        width: 100%;
                        line-height: 0.8rem;
                        input{
                            border:none;
                         
                        }
                    }
                }
                .but{
                    height:.4rem; 
                    width: 100%;  
                    @include flexbox();
                    @include justify-content(center);
                    padding-top:.3rem;
                    //background: yellow;
                    
                    button{
                       height:.4rem;
                       width:1.2rem;
                       background:#00a0e8;
                       border:none;   
                    }
                }     
            }
                      
          }
        //background: yellow;
        }
    }
   
}
