.m-index{
    .l-container{ 
        @include flexbox();
        width: 100%;   
        .m-home{
            @include flexbox();
            @include flex-direction(column);
            height: 100%;
        
            .shop{
               width:100%;
               height:.44rem;
               background:#00a0e8; 
               font-size:.22rem;
               text-align: center;
               line-height: .44rem;
               font-weight:bold;
               font-family: "微软雅黑";
               color: white;
               @include flexbox();
               i{
                   height: 100%;
                   width:0.9rem;
                   
                   img{
                    margin-left:0.1rem;
                    width:0.2rem;
                    height: 0.15rem;
                   }
                   &.yo-ico{
                       @include box-sizing(border-box);
                       text-align: right;
                       padding-right: 0.2rem;
                   }
               }
               b{
                  @include flex(1);
                   
               }
               
            }
           .shop-section{
                @include flex(1); 
                //background: yellowgreen;
                width: 100%;
                overflow: hidden;
                div{
                   .head {
                        text-align: center;
                        height: .3rem;
                        line-height: .3rem;
                    } 
                    .head img {
                    display: inline-block;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                    height: .15rem;
                    width: .15rem;
                }
                .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                }
                .foot {
                    text-align: center;
                    height: .3rem;
                    line-height: .3rem;
                 }
                .foot img {
                    display: inline-block;
                    /*transform: rotate(0deg);*/
                    /*-webkit-transform: rotate(0deg);*/
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                    height: .15rem;
                    width: .15rem;
                }
                .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                }

                ul{
                    
                    li{
                        @include box-sizing(border-box);
                        @include flexbox();
                        @include align-items(center);
                        height:1.1rem;
                        width: 100%;
                        //background: yellow;
                        padding-left:0.1rem;
                        @include border(0 0 1px 0,black)
                        .img-one{
                            display: block;
                             width: 0.8rem;
                             height: 0.8rem;
                            
                        }
                        .img-two {
                          display: block;
                          width: 0.2rem;
                          height: 0.2rem;
                          margin-right:0.2rem ;
                        }
                        .factoryMemory{
                            margin-left:0.2rem;
                            @include flex(1);
                            height: 0.8rem; 
                            span{
                                //@include box-sizing(border-box);
                                
                                @include ellipsis();
                                display:block;
                                font-size:0.2rem;  
                                font-weight:bold;
                                width:100%;
                                
                            }
                            i{
                              display: block;
                               height: 0.3rem;
                               width: 100%; 
                               line-height:0.35rem;
                              
                            }
                            b{
                               display: block;
                               width: 100%; 
                            }
                     
                        }
                    }
                }
                
            }   
            
        }
    }
   
 }
}