@charset "utf-8";
@import"../lib/core/reset";
@import"./core/swiper-3.3.1.min.css";
@import"./core/common";
//layout
//html, body {
  //width: 100%;
  //height: 100%;
//}
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}

//view
@import "./module/index";
@import "./module/home";
@import "./module/more";
@import "./module/search";
@import "./module/member";
@import "./module/shop";
@import "./module/font";
