@font-face {
    font-family:yofont;
    src:url('/zlwm/images/iconfont/iconfont.woff') format('woff'),url('/zlwm/images/iconfont/iconfont.ttf') format('truetype');
    }
@font-face {
    font-family:yofont;
    src:url('/zlwm/images/iconfont/iconfont-1.woff') format('woff'),url('/zlwm/images/iconfont/iconfont-1.ttf') format('truetype');
    }